html, body {
  height: 100%;
  background-color: #673AB7;
  color: white;

  font-size: 100%;
  font-family: Roboto, monospace, sans-serif;

  padding: 0;
  margin: 0;
}

#divider {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  background-color: white;
  width: 5px;
  height: 100%;
}

.player {
  height: 100%;
  width: calc(50% - 3px);
  margin-right: 3px;

  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
}